body{
    background-color: #000;
}

.card {
    --white: hsl(0, 0%, 100%);
    --black: hsl(240, 100%, 56%);
    --paragraph: hsl(0, 0%, 83%);
    --line: hsl(60, 9%, 17%);
    --primary: hsl(157, 92%, 58%);
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 1rem;

    padding: 1rem;
    width: 19rem;
    background-color: hsla(240, 15%, 9%, 1);
    background-image: radial-gradient(at 88% 40%,
            hsla(240, 15%, 9%, 1) 0px,
            transparent 85%),
        radial-gradient(at 49% 30%, hsla(240, 15%, 9%, 1) 0px, transparent 85%),
        radial-gradient(at 14% 26%, hsla(240, 15%, 9%, 1) 0px, transparent 85%),
        radial-gradient(at 0% 64%, #0fb4ff 0px, transparent 85%),
        radial-gradient(at 41% 94%, rgb(13, 130, 219) 0px, transparent 85%),
        radial-gradient(at 100% 99%, #0fb4ff 0px, transparent 85%);

    border-radius: 1rem;
    box-shadow: 0px -16px 24px 0px rgba(255, 255, 255, 0.25) inset;
}

.card .card__border {
    overflow: hidden;
    pointer-events: none;

    position: absolute;
    z-index: -10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: calc(100% + 2px);
    height: calc(100% + 2px);
    background-image: linear-gradient(0deg,
            hsl(0, 0%, 100%) -50%,
            hsl(0, 0%, 40%) 100%);

    border-radius: 1rem;
}

.card .card__border::before {
    content: "";
    pointer-events: none;

    position: fixed;
    z-index: 200;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%), rotate(0deg);
    transform-origin: left;

    width: 800%;
    height: 20rem;
    background-image: linear-gradient(0deg,
            hsla(0, 0%, 100%, 0) 0%,
            hsl(194, 95%, 60%) 40%,
            hsl(63, 95%, 60%) 60%,
            hsla(0, 0%, 40%, 0) 100%);

    animation: rotate 8s linear infinite;
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}

.card .card_title__container .card_title {
    font-size: 2rem;
    color: var(--white);
}

.card .card_title__container .card_paragraph {
    margin-top:0.90rem;
    width: 100%;
    text-align: justify;
    font-size: 1rem;
    color: var(--paragraph);
}

#basico{
    margin-top: 2rem;
}

#plus{
    margin-top: 2rem;
}

#supremo{
    margin-top: 3rem;
}

.card .line {
    width: 100%;
    height: 0.1rem;
    background-color: var(--line);

    border: none;
}

.card .card__list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.card .card__list .card__list_item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.card .card__list .card__list_item .check {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 1rem;
    height: 1rem;
    background-color: var(--primary);

    border-radius: 50%;
}

.card .card__list .card__list_item .check .check_svg {
    width: 0.75rem;
    height: 0.75rem;

    fill: var(--black);
}

.card .card__list .card__list_item .list_text {
    font-size: 0.75rem;
    color: var(--white);
}


.card .button {
    cursor: pointer;
    padding: 0.5rem;
    width: 100%;
    background-image: linear-gradient(0deg,
            rgb(48, 229, 232) 0%,
            #31f6ab 100%);
    font-size: 0.75rem;
    color: rgb(0, 0, 0);
    border: 0;
    border-radius: 9999px;
    box-shadow: inset 0 -2px 25px -4px var(--white);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.button:hover{
    background-image: linear-gradient(0deg,
    rgb(8, 101, 250) 0%,
    rgb(1, 79, 236) 100%);
    color: #FFEE00;
}

.contenedor {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 5em;
    flex-wrap: wrap;
    padding: 8%;
}

.concierge {
    position: absolute;
    left: 45%;
    top:5%;
    background-image: linear-gradient(45deg, #ff6547 0%, #ffb144  51%, #ff7053  100%);
    padding: 0.5rem 3.4rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    transform: rotate(35deg); /* Rotate y skew para el efecto doblado */
    z-index: 1000; /* Para que esté encima de otros elementos */
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
    border-bottom-left-radius: 10px;
    box-shadow: 0 9px 10px rgba(0, 0, 0, 0.90);
}

.concierge::before{
    content: "CONCIERGE";
}




#plan-supremo:hover::before{
    content: "100.00 USD";
    display: flex;
    justify-content: center;
    position: absolute;
    top: 16px;
    left: 0;
    width: 100%;
    color: #26ff00;
    z-index: 1000;
}

.supremo{
    position: absolute;
    left: 45%;
    top:5%;
    background-image: linear-gradient(45deg, #01579B 0%, #4FC3F7  51%, #039BE5  100%);
    padding: 0.5rem 3.9rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    transform: rotate(35deg); /* Rotate y skew para el efecto doblado */
    z-index: 1000; /* Para que esté encima de otros elementos */
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
    border-bottom-left-radius: 10px;
    box-shadow: 0 9px 10px rgba(0, 0, 0, 0.90);
}

.supremo::before{
    content: "SUPREMO";
}

.plus{
    position: absolute;
    left: 45%;
    top:5%;
    background-image: linear-gradient(45deg, #01579B 0%, #4FC3F7  51%, #039BE5  100%);
    padding: 0.5rem 5.3rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    transform: rotate(35deg); /* Rotate y skew para el efecto doblado */
    z-index: 1000; /* Para que esté encima de otros elementos */
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
    border-bottom-left-radius: 10px;
    box-shadow: 0 9px 10px rgba(0, 0, 0, 0.90);
}

.basico{
    position: absolute;
    left: 45%;
    top:5%;
    background-image: linear-gradient(45deg, #01579B 0%, #4FC3F7  51%, #039BE5  100%);
    padding: 0.5rem 4.6rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    transform: rotate(35deg); /* Rotate y skew para el efecto doblado */
    z-index: 1000; /* Para que esté encima de otros elementos */
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 150px;
    border-top-right-radius: 150px;
    border-bottom-left-radius: 10px;
    box-shadow: 0 9px 10px rgba(0, 0, 0, 0.90);
}

.basico::before{
    content: "BASICO";
}

.plus::before{
    content: "PLUS";
}

.esquinas {
    background-color: #f52900;
    padding: 2%;
    position: absolute;
    top: -2.5%;
    left: 48%;
    border-top-left-radius: 45%;
    z-index: 1;
}

.esquinas::after {
    content: ''; /* El pseudo-elemento duplicará el estilo */
    background-color: #f52900;
    padding: 25%;
    position: absolute;
    top: 969%;
    left: 1320%; /* Desplazamos el pseudo-elemento al lado izquierdo */
    border-top-left-radius: 45%;
    z-index: -1; /* Mantiene el duplicado en un plano inferior */
    transform: rotate(180deg); /* Rota el pseudo-elemento en 2D */
}



#plan-concierge:hover::before{
    content: "110.00 USD";
    display: flex;
    justify-content: center;
    position: absolute;
    top: 16px;
    left: 0;
    width: 100%;
    color: #26ff00;
    z-index: 1000;
}

#plan-basico:hover::before{
    content: "65.00 USD";
    display: flex;
    justify-content: center;
    position: absolute;
    top: 16px;
    left: 0;
    width: 100%;
    color: #26ff00;
    z-index: 10000;
}

#plan-plus:hover::before{
    content: "45.00 USD";
    display: flex;
    justify-content: center;
    position: absolute;
    top: 16px;
    left: 0;
    width: 100%;
    color: #2dbb13;
    z-index: 10000;
}

.centrar__titulo{
    display: flex;
    justify-content: center;
    font-size: 20rem;
}

.btn-comprar{
    margin: 0%;
    margin-right: 8%;
}

.btns{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    gap: 5px;
}

@media (max-width: 1200px){
    .contenedor{
        padding-top: 20%;
    }

    .bubble-background {
        display: flex;
        flex-direction: column;  /* Alinea las burbujas de arriba hacia abajo */
        justify-content: flex-start; /* Alinea las burbujas al principio */
        height: 100%;  /* Hace que el contenedor ocupe todo el alto disponible */
        width:20%;  /* Limita el ancho al 50% del contenedor principal */
        position: fixed; /* Posiciona el contenedor de manera fija */
        top: 0;  /* Alinea al principio de la página */
        right: 0;  /* Alinea a la derecha */
        padding: 0px; /* Un poco de espacio alrededor de las burbujas */
    }

    .bubble{
        filter: blur(0px);
    }

    .esquinas{
        left: 48.6%;
        border-top-left-radius: 95%;
        display: none;
    }

   
}

